<h1 id="title">Lista de artigos</h1>


<div>
  <% @artigos.each do |artigo| %>
    <div id="li-article">
        <a class="li-article-link" href="/artigos/<%= artigo.id %>">
            <%= artigo.title%>
        </a>
        <div id="posted-at">
          🕣 postado <%= time_tag artigo.created_at, "data-local": "time-ago" %>
        </div>
    </div>
  <% end %>
  
  <div id="pagination">
    <%= paginate @artigos %>
  </div>
  
</div>