<div>
    <%= link_to "Editar", edit_artigo_path(@artigo)%><br>
    <%= link_to "Apagar esse artigo", artigo_path(@artigo), data: {
        turbo_method: :delete,
        turbo_confirm: "Tem certeza que quer apagar este artigo? Esta ação será irreversível."
    }%>
    <br><br><br>
    <h1>    
        <%= @artigo.title %>
    </h1>
    <div class="post-content">
        <p>
            <%= @artigo.contents %>
        </p>
    </div>
</div>

