
<header>
      <nav id="header-nav">
        <%= link_to image_tag("logo.png"), root_path, class: 'logo' %>
        <% if current_user %>
            <a><%= link_to "Novo artigo", new_article_path, class:'new-article-button', method: :get %></a>
            <a><%= link_to "Desconectar", destroy_user_session_path,class:'desconect-user-button', data: {turbo_method: :delete} %></a>
        <% else %>

        <% end %>
      </nav>
</header>