/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 

 @import url('https://fonts.googleapis.com/css2?family=Exo:wght@700&family=Montserrat:wght@900&family=Nunito:wght@300&family=Poppins:ital,wght@0,100;0,200;0,400;1,100&display=swap');
 
 /*  GLOBAL  */
 * {
    font-family: Nunito;
    background-color: rgb(241, 237, 237);
    margin: 0;
    padding: 0;
}


/*  HOME  */

#title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5vh;
}


#header-nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-family: Poppins;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 15px;
    height: 8vh;
    margin-bottom: 5vh;
}


#logo {
    font-family: Poppins;
    font-weight: 900;
    font-size: 1.8em;
    text-decoration: none;
    color: black;
    margin-left: 3vh;
}


.new-article-button {
    color: rgb(0, 0, 0);
    background-color: black;
    text-align: center;
    color: white;
    border-radius: 13px;
    border: 1px transparent;
    font-size: .8em;
    padding: 1.1vh;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 8px 10px -3px, rgba(0, 0, 0, 0.3) 0px 3px 4px -3px;
    width: 11vh;
    cursor: pointer;
    text-decoration: none;
    position: relative;
    font-family: Poppins;
    margin-right: 3vh;
}


.new-article-button:hover {
    background-color: #374151;
}
  

.new-article-button:focus {
    box-shadow: none;
    outline: 2px solid transparent;
    outline-offset: 2px;
}


#li-article {
    margin-top: 2vh;
    margin-bottom: 5vh;
    margin-left: 10vh;
    margin-right: 10vh;
    border-radius: 12px;
    padding: 5vh;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 4px 8px -2px, rgba(0, 0, 0, 0.3) 0px 3px 4px -3px;
    border: 2px solid;
    cursor: pointer;

}


#li-article:hover {
    border: 5px solid;
    transition: 0.3s
}


.li-article-link{
    text-decoration: none;
    color: black;
    font-size: 2.5vh;
    font-family: Poppins;
}


#posted-at {
    font-size: .8em;
}


#new-article-content{
    width: 100%;
    display:block;
    position:relative;
    margin-top: 100px;
    text-align: center;
    height: auto;
}


.title-post-show {
    margin-left: 20px;
    margin-right: 20px;
}


.post-content {
    margin-left: 40px;
    margin-right: 40px;
}

#pagination {
    font-size: 1.2em;
    align-content: center;
    width: 100%;
    text-align: center;
    margin-bottom: 10vh;
}



/*   FORM   */

#form {
    margin-left: 5vh;
    margin-right: 5vh;
}


.button-publish-in-form {
    color: rgb(0, 0, 0);
    background-color: black;
    text-align: center;
    color: white;
    border-radius: 13px;
    border: 1px transparent;
    font-size: .8em;
    padding: 1.1vh;
    margin-top: 2vh;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 8px 10px -3px, rgba(0, 0, 0, 0.3) 0px 3px 4px -3px;
    width: 11vh;
    cursor: pointer;
    text-decoration: none;
    position: relative;
    font-family: Poppins;
    margin-right: 3vh;
}


.button-publish-in-form:hover {
    background-color: #374151;
}


.button-publish-in-form:focus {
    box-shadow: none;
    outline: 2px solid transparent;
    outline-offset: 2px;
}


#artigo_title {
    font-size: 1.8em;
    border-radius: 7px;
    margin-bottom: 2vh;
    height: 3.5vh;
    width: 100%
}

