/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 

 @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Poppins:wght@300&display=swap');
 
 /*  GLOBAL  */
 * {
    font-family: Nunito;
    margin: 0;
    padding: 0;
}


/*  HOME  */




body {
    background-color: rgb(233, 225, 225);
}




#yield {
    width: 100%;
    margin-right: 0;
    margin-left: auto;
}




.logo img {
    width: 4vh;
    margin-left: 3vh;
}

.new-article-icon img {
    width: 4.5vh;
}




#header-nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-family: Poppins;
    background: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 15px;
    height: 8vh;
    margin-bottom: 5vh;
}




#article_search {
    text-align: center;
    padding-top: 4vh;
    margin-bottom: 9vh;
}




#article_search input {
    border: 1px solid;
    background: url("search.png") top left no-repeat;
    background-size: 2.5vh;
    background-position-y: center;
    background-position-x: 1.5vh;
    border-radius: 7px;
    height: 5vh;
    width: 80vw;
    font-size: 2vh;
    font-family: 'Nunito', sans-serif;
    color: black;
    padding-left: 6vh;
}





#article_search input[type="search"]::-webkit-search-decoration, #article_search input[type="search"]::-webkit-search-cancel-button, #article_search input[type="search"]::-webkit-search-results-button, #article_search input[type="search"]::-webkit-search-results-decoration {
    display: none;
}




.new-article-button {
    color: rgb(0, 0, 0);
    background-color: black;
    text-align: center;
    color: white;
    border-radius: 13px;
    border: 1px transparent;
    font-size: .8em;
    padding: 1.1vh;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 8px 10px -3px, rgba(0, 0, 0, 0.3) 0px 3px 4px -3px;
    width: 11vh;
    cursor: pointer;
    text-decoration: none;
    position: relative;
    font-family: Poppins;
    margin-right: 3vh;
}




.new-article-button:hover {
    background-color: #374151;
}
  



.new-article-button:focus {
    box-shadow: none;
    outline: 2px solid transparent;
    outline-offset: 2px;
}




#all-articles {
    margin-top: 5vh;
}




#li-article {
    margin-bottom: 7vh;
    margin-left: 5vh;
    margin-right: 5vh;
    border-radius: 10px;
    padding: 5vh;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 4px 8px -2px, rgba(0, 0, 0, 0.3) 0px 3px 4px -3px;
    border: 2px solid;
    cursor: pointer;
    transition: 0.3s;
    word-wrap: break-word;
}




#li-article:hover {
    border: 5px solid;
    transition: 0.2s
}




.li-article-link {
    text-decoration: none;
    color: black;
    font-size: 1.8vh;
    font-family: 'Nunito', sans-serif;
}



.article-title {
    font-size: 3vh;
    padding-bottom: 2vh;
    font-weight: 600;
    font-family: 'Nunito', sans-serif;
}

.text_preview {
    font-family: 'Nunito', sans-serif;
}


.hour, .posted-at{
    margin-top:.7vh;
    font-size: .9em;
    font-family: 'Nunito', sans-serif;
}




#new-article-content{
    width: 100%;
    display:block;
    position:relative;
    margin-top: 100px;
    text-align: center;
    height: auto;
}




.title-post-show {
    margin-left: 20px;
    margin-right: 20px;
}



.post-content {
    margin-left: 40px;
    margin-right: 40px;
}




#pagination {
    font-size: 1.2em;
    align-content: center;
    width: 100%;
    text-align: center;
    margin-bottom: 10vh;
}



.pagination {
    text-align: center;
}


 .current {
    font-family: Poppins;
    font-size: 2vh;
    padding: 0.7vh;
    background: rgb(39, 39, 39);
    color: white;
    text-decoration: none;
    border-radius: 7px;
    
}




/*   FORM   */



#form {
    margin-left: 5vh;
    margin-right: 5vh;
}



.button-publish-in-form {
    color: rgb(0, 0, 0);
    background-color: black;
    text-align: center;
    color: white;
    border-radius: 13px;
    border: 1px transparent;
    font-size: .8em;
    padding: 1.1vh;
    margin-top: 2vh;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 8px 10px -3px, rgba(0, 0, 0, 0.3) 0px 3px 4px -3px;
    width: 11vh;
    cursor: pointer;
    text-decoration: none;
    position: relative;
    font-family: 'Nunito', sans-serif;
    margin-right: 3vh;
}




.button-publish-in-form:hover {
    background-color: #374151;
}




.button-publish-in-form:focus {
    box-shadow: none;
    outline: 2px solid transparent;
    outline-offset: 2px;
}




#article_title {
    font-size: 1.8em;
    border-radius: 7px;
    margin-bottom: 2vh;
    height: 3.5vh;
    width: 100%
}

.edit-and-destroy a{
    font-family: 'Nunito', sans-serif;
    color:#222;
    margin-left: 4vh;
    font-size: large;
    padding: 10px;
    vertical-align: middle;
}




/* SHOW */




.title-show {
    margin-left: 4vh;
}



.desconect-user-button {
    color: rgb(221, 62, 62);
    background-color: rgb(221, 62, 62);
    text-align: center;
    color: white;
    border-radius: 13px;
    border: 1px transparent;
    font-size: .8em;
    padding: 1.1vh;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 8px 10px -3px, rgba(0, 0, 0, 0.3) 0px 3px 4px -3px;
    width: 11vh;
    cursor: pointer;
    text-decoration: none;
    position: relative;
    font-family: 'Nunito', sans-serif;
    margin-right: 3vh;
}


#new_user {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.12);
  }





.login-screen {
    max-width: 65%;
    margin: auto;
    margin-top: 25vh;

}




#user_email {
    background:#ecf0f1;
    border: #ccc 1px solid;
    border-bottom: #ccc 2px solid;
    padding: 8px;
    color:#AAAAAA;
    margin-top:10px;
    font-size:1em;
    border-radius:4px;
    width: 65%;
    max-width: 40vh;
}

#user_password {
    background:#ecf0f1;
    border: #ccc 1px solid;
    border-bottom: #ccc 2px solid;
    padding: 8px;
    color:#AAAAAA;
    margin-top:10px;
    font-size:1em;
    border-radius:4px;
    width: 65%;
    max-width: 40vh;
}



.login-button {
    background-color: #222;
    border-radius: 13px;
    border-style: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    margin: 0;
    max-width: 10vh;
    min-height: 44px;
    min-width: 10px;
    outline: none;
    overflow: hidden;
    padding: 9px 20px 8px;
    position: relative;
    text-align: center;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
    text-decoration: none;
    border:0 none;
    }

.login-button:hover,
.login-button:focus {
  opacity: .75;
}



/* Footer */

.footer {
    background-color: #222;
    color: #fff;
    text-align: center;
    height: 27vh;
    position: relative;
    bottom: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    }

.icons_footer img{
    margin-top: 3vh;
    color:#fff;
    height: 4vh;
    padding-left: 1vh;
    padding-right: 1vh;
}

.links_footer {
    padding-top: 2vh;
}

.links_footer a{
    text-decoration: none;
    color: #FFFFFF;
    padding-left: 1vh;
    padding-right: 1vh;
    padding-top: 2vh;
    font-size: large;
    font-family: 'Nunito', sans-serif;
    }

.links_footer a:hover {
    cursor: pointer;
}

.txt_footer p{
    padding-top: 2vh;
    font-family: 'Nunito', sans-serif;
    font-size: large;
    }

.donate img{
    margin-top: 2vh;
    color:#fff;
    height: 4vh;
    padding-left: 1vh;
    padding-right: 1vh;
    }
